/* || general */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville' sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.max-width--style {
    max-width: 1200px;
    width: 100%;
}

.btn--style {
    border-radius: 5.9px;
    background: rgb(175, 105, 0);
    padding: 18px 20px;
    max-width: 200px;
    width: 100%;
    color: rgb(250, 247, 242);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.btn--style:active {
    transform: translateY(4px);
}

.btn--style:hover {
    background-color: rgb(250, 247, 242);
    color: rgb(175, 105, 0);
    border: 1px solid rgb(175, 105, 0);

}



/* || header-nav */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: rgb(245, 235, 218);
}

.header__main-logo {
    width: 250px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-menu {
    max-width: 796px;
    width: 100%;
}

.header__menu {
    display: flex;
    max-width: 796px;
    width: 100%;
    justify-content: center;
    gap: 30px;
    align-items: center;

}

.header__menu-item a {
    color: rgb(98, 61, 42);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2.1px;
}

.header__menu-item a:hover {
    text-decoration: underline;
}

.header__icon-wrapper {
    display: flex;
}

.header__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(98, 61, 42);
    padding: 14px 18px;
    cursor: pointer;
    background-color: transparent;

}

.header__icon {
    width: 20px;

}

.header__item:hover {
    background-color: #f4f4f4;
}

/* burger-menu */

.header__nav-menu.active {
    height: 200px;
}

.header__menu.active {
    opacity: 1;
}

@media only screen and (max-width: 1320px) {
    .header {
        padding: 20px 50px;
    }

}

@media only screen and (max-width: 1024px) {
    .header__item {
        padding: 12px 14px;
    }

    .header__icon {
        width: 30px;

    }

    .header__menu-item a {
        font-size: 14px;
    }


}



@media only screen and (max-width: 977px) {
    .header {
        padding: 10px 20px;
    }

    .header__main-logo {
        width: 200px;
    }

    .header__nav-menu {
        position: absolute;
        top: 70px;
        left: 100;
        right: 0;
        max-width: 150px;
        width: 100vw;
        height: 0;
        background: #f4f4f4;
        transition: 0.5s;
        overflow: hidden;

    }

    .header__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .header__item {
        padding: 12px 16px;


    }

    .header__icon {
        width: 14px;

    }


}

@media only screen and (max-width: 476px) {
    .header__main-logo {
        width: 150px;
    }

    .header__item {
        padding: 10px 14px;


    }

    .header__icon {
        width: 12px;

    }

    .header__menu-item a {
        font-size: 12px;
    }

    .header__nav-menu {
        top: 50px;


    }


}

@media only screen and (max-width: 377px) {
    .header {
        padding: 10px 15px;
    }

    .header__main-logo {
        width: 130px;
    }

    .header__item {
        padding: 10px 14px;


    }

    .header__icon {
        width: 12px;

    }

}

/*|| hero section */

.hero {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background: rgb(245, 235, 218);
    background-image: url("../Assets/icons/hero-illustrate.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    gap: 30px;

}

.hero__sub-title {
    color: rgb(175, 105, 0);
    font-family: 'Libre Baskerville' sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 35%;
    text-transform: uppercase;

}

.hero__title {
    color: rgb(72, 40, 23);
    font-size: 60px;
    font-weight: 400;
    font-variant: small-caps;
    text-transform: uppercase;
}

.hero__sub-txt {
    color: rgb(72, 40, 23);
    font-size: 20px;
    font-weight: 400;

}

.hero__btn-style {
    color: rgb(72, 40, 23);
    font-size: 22.43px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 18px 60px;
    border-bottom: 1.1804511547088623px solid rgb(175, 105, 0);
    border-top: 1.1804511547088623px solid rgb(175, 105, 0);
    margin-top: 60px;
}

.hero__btn-style:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 966px) {
    .hero {
        display: flex;
        flex-direction: column;

    }

    .hero__txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        width: 400px;
    }

    .hero__title {
        font-size: 45px;
        font-weight: 400;
    }

    .hero__sub-title {
        font-size: 22px;
        font-weight: 300;
    }

    .hero__sub-txt {
        font-size: 16px;
    }

    .hero__title,
    .hero__sub-title,
    .hero__sub-txt {
        text-align: center;

    }

    .hero__img {
        width: 377px;
    }


}

@media only screen and (max-width: 477px) {
    .hero__title {
        font-size: 34px;
        width: 300px;
        font-weight: 400;
    }

    .hero__sub-title {
        font-size: 20px;
        font-weight: 300;
        width: 343px;
    }

    .hero__title,
    .hero__sub-title,
    .hero__sub-txt {
        text-align: center;

    }

    .hero__img {
        width: 250px;
    }

    .btn-style {
        padding: 15px 30px;
        font-size: 14px;
        font-weight: 700;

    }

    .hero__sub-txt {
        font-size: 14px;
        width: 200px;
        text-align: justify;
    }



}

@media only screen and (max-width: 385px) {
    .btn-style {
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 500;

    }

    .header__nav-menu {
        background-size: 200px;

    }



}

/* ||services section */

.services-section {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title--style {
    color: rgb(72, 40, 23);
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 30px;
}

.sub-title--style {
    color: rgb(175, 105, 0);
    font-family: 'Libre Baskerville' sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 30px;
}

.services__main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.services-section__sub-txt {
    color: rgb(158, 132, 92);
    font-size: 18px;
    font-weight: 400;
    width: 500px;
    text-align: center;
    margin-bottom: 40px;
}

.services-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.services-card {
    scroll-snap-align: center;
    display: flex;
    max-width: 350px;
    width: 100%;
    border-radius: 10px;
    background: rgb(245, 235, 218);
    padding: 25px;
    align-items: center;
    gap: 15px;

}

.services-card-items {
    display: flex;
    justify-content: space-evenly;
}

.services__btn-wrapper {
    display: flex;

}

.services__icon {
    width: 15px;
}

.services__btn {
    width: 80px;
    background-color: transparent;
    border: 1.5px solid rgb(158, 132, 92);
    cursor: pointer;
}

.services__btn:hover {
    background-color: #f4f4f4;
}

.services-card-text {
    max-width: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services__title {
    color: rgb(72, 40, 23);
    font-family: 'Libre Baskerville' sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 10%;

}

.services__sub-txt {
    color: rgb(175, 105, 0);
    font-style: italic;
    font-size: 16px;
    font-weight: 400;

}

.services__price-title {
    color: rgb(158, 132, 92);
    font-style: italic;
    font-size: 16px;
    font-weight: 400;

}

.services__price {
    color: rgb(72, 40, 23);
    font-family: 'Libre Baskerville' sans-serif;
    font-size: 25px;
    font-weight: 400;

}

@media only screen and (max-width: 400px) {
    .services-card {
        max-width: 250px;
        width: 100%;


    }

    .services-card__img {
        width: 100px;
    }

    .services__icon {
        width: 10px;
    }


    .services-card-text {
        max-width: 160px;
        width: 100%;

    }

    .services__title {
        font-size: 18px;


    }

    .services__sub-txt,
    .services__price-title {
        font-size: 12px;
        font-weight: 400;

    }


    .services__price {
        font-size: 16px;
        font-weight: 400;
    }


}

@media only screen and (max-width: 670px) {
    .title--style {
        font-size: 40px;

    }

    .sub-title--style {
        font-size: 20px;
    }

    .services-section__sub-txt {
        font-size: 18px;
        width: 300px;

    }
}

@media only screen and (max-width: 390px) {
    .title--style {
        font-size: 30px;

    }

    .sub-title--style {
        font-size: 18px;
    }

    .services-section__sub-txt {
        font-size: 16px;
        width: 300px;

    }
}

/* || history section */
.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.history__main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.history__img-section {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}



.history__overview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.history__overview {
    display: flex;
    align-items: center;
    gap: 60px;
}

.history__overview-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.history__txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid rgb(175, 105, 0);

}

.history__overview-title {
    color: rgb(72, 40, 23);
    font-family: 'Libre Baskerville' sans-serif;
    font-size: 22px;
    font-weight: 400;

}

.history__overview-txt {
    color: rgb(158, 132, 92);
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;

}

.history__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 100px;
}

.history__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
}

.history__heading {
    font-size: 40px;
    color: rgb(72, 40, 23);
    font-weight: 400;

}

.history__sub-txt {
    color: rgb(158, 132, 92);
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1250px) {
    .history__img-section {
        width: 500px;
    }

    .history__icon {
        width: 50px;
    }

    .history__overview-title {
        font-size: 18px;
    }

    .history__overview-title {
        font-size: 14px;
    }

    .history__heading {
        font-size: 22px;
    }

    .history__text {
        width: 300px;
    }

    .history__sub-txt {
        font-size: 14px;
    }

    .btn--style {
        padding: 16px 18px;
        max-width: 150px;
        width: 100%;
        font-size: 16px;

    }


}

@media only screen and (max-width: 943px) {
    .sub-title--style {
        font-size: 18px;
    }

    .title--style {
        font-size: 35px;
    }

    .history__img-section {
        width: 300px;
    }

    .history__wrapper {
        display: flex;
        flex-direction: column;

    }

    .history__text,
    .history__txt {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .history__sub-txt {
        text-align: justify;
    }

    .history__overview,
    .history__overview-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }





}

@media only screen and (max-width: 777px) {
    .history__icon {
        width: 30px;
    }

    .history__overview-title {
        font-size: 16px;
    }

    .history__overview-title {
        font-size: 12px;
    }

    .history__heading {
        font-size: 18px;
    }

    .history__text {
        width: 200px;
    }

    .history__sub-txt {
        font-size: 12px;
    }

    .btn--style {
        padding: 14px 16px;
        max-width: 130px;
        width: 100%;
        font-size: 14px;

    }





}

@media only screen and (max-width: 397px) {
    .sub-title--style {
        font-size: 16px;
    }

    .title--style {
        font-size: 30px;
    }

    .history__img-section {
        width: 200px;
    }



}

/* || employees-section */

.employees {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-image: url("../Assets/icons/illustration.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
}

.employees__wrapper {
    display: flex;
    gap: 29px;
    flex-wrap: wrap;
    justify-content: center;
}

.employees__card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
    gap: 22px;
}

.employees__title {
    color: rgb(72, 40, 23);
    font-family: 'Libre Baskerville' sans-serif;
    font-size: 22px;
    font-weight: 400;

}

.employees__sub-title {
    color: rgb(175, 105, 0);
    font-family: 'Libre Baskerville' sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;

}

.line {
    border: 1px solid rgb(175, 105, 0);
    width: 160px;
}

.employees__txt {
    color: rgb(158, 132, 92);
    font-style: italic;
    text-align: justify;
    width: 160px;
    font-size: 14px;
    font-weight: 400;

}

.employees__socials {
    display: flex;

}

.employees__links {
    border: 1.24px solid rgb(98, 61, 42);
    padding: 12px 16px;
    cursor: pointer;
}

.employees__links:active {
    transform: translateY(4px);
    background-color: #f4f4f4;
}

@media only screen and (max-width: 657px) {
    .employees__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width: 428px) {

    .employees__card {
        max-width: 180px;
        width: 100%;
    }

    .employees__title {
        font-size: 18px;
        font-weight: 400;

    }

    .employees__sub-title {
        font-size: 14px;
        font-weight: 400;

    }

    .line {
        width: 140px;
    }

    .employees__txt {
        width: 140px;
        font-size: 12px;

    }

    .employees__links {
        padding: 10px 14px;

    }

    .employees__img {
        width: 200px;
    }
}

/* || events section */

.events {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    align-items: center;
}

.events__img {
    width: 200px;
    height: 200px;
}

.events__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.events__main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.events__cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.events__card {
    border-radius: 11.44px;
    background: rgb(245, 235, 218);
    background-image: url("../Assets/icons/event_illustration.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 350px;
    max-width: 700px;
    width: 100%;
    display: flex;
}

.events__txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 30px 30px;
}

.events__sub-txt {
    display: flex;
    gap: 15px;
}

.events__data {
    display: flex;
    align-items: center;
    gap: 5px;
}

.events__title {
    color: rgb(72, 40, 23);
    font-family: 'Libre Baskerville' sans-serif;
    font-size: 22px;
    font-weight: 400;

}

.events__data-txt {
    color: rgb(158, 132, 92);
    font-style: italic;
    font-size: 16px;
    font-weight: 400;

}

.events__btn {
    background-color: transparent;
    border-top: 1px solid rgb(175, 105, 0);
    border-bottom: 1px solid rgb(175, 105, 0);
    padding: 6px 12px;
    cursor: pointer;
    color: rgb(72, 40, 23);
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;

}

.events__btn:hover {
    text-decoration: underline;
}

.events__big-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;

}

.events__big-img--txt {
    color: rgb(158, 132, 92);
    font-style: italic;
    font-size: 18px;
    font-weight: 400;

}

.events__big-img img {
    width: 490px;
}

@media only screen and (max-width: 677px) {

    .events__main-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .events__card {
        flex-direction: column;

    }

    .events__txt {
        align-items: center;
    }

    .events__sub-txt {
        flex-direction: column;
        align-items: baseline;
    }

    .events__img,
    .events__image {
        width: 250px;
        height: 150px;
        object-fit: cover;
    }

    .events__big-img img {
        width: 400px;

    }

    .events__big-img {
        align-items: center;
    }

    .events__big-img--txt {
        font-size: 16px;
    }
}

@media only screen and (max-width: 490px) {

    .events__title {
        font-size: 18px;
    }

    .events__data-txt {
        font-size: 14px;

    }

    .events__btn {
        padding: 4px 8px;
        font-size: 16px;

    }

    .events__big-img img {
        width: 280px;

    }

    .events__big-img--txt {
        font-size: 14px;
    }

}

/* || newsletter section */

.newsletter {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 150px;
}

.newsletter__wrapper {
    border-radius: 10px;
    background: rgb(245, 235, 218);
    background-image: url("../Assets/icons/short--Logo.svg");
    background-repeat: no-repeat;
    background-position: top left;
    height: 546px;
    max-width: 1316px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 350px;

}

.newsletter__title {
    color: rgb(72, 40, 23);
    font-family: 'Libre Baskerville' sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.newsletter__sub-title {
    color: rgb(175, 105, 0);
    font-family: 'Libre Baskerville' sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
}

.newsletter__txt {
    color: rgb(158, 132, 92);
    font-size: 16px;
    font-weight: 400;
    width: 700px;
    text-align: center;
}

.newsletter__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 60px;
}

.newsletter__mail {
    text-align: center;
    padding: 20px 180px;
    background-color: transparent;
    border-bottom: 1px solid rgb(72, 40, 23);
    color: rgba(72, 40, 23, 0.3);
    font-family: 'Libre Baskerville' sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;

}

@media only screen and (max-width: 1340px) {
    .newsletter__wrapper {
        max-width: 1000px;
        width: 100%;
        background-size: 200px;
    }



}

@media only screen and (max-width: 1030px) {
    .newsletter__wrapper {
        max-width: 800px;
        width: 100%;
        background-size: 150px;
    }

    .newsletter__title {
        font-size: 30px;
    }

    .newsletter__sub-title {
        font-size: 16px;

    }

    .newsletter__txt {
        font-size: 14px;
        width: 600px;

    }

    .newsletter__mail {
        padding: 20px 150px;

    }





}

@media only screen and (max-width: 847px) {
    .newsletter__wrapper {
        max-width: 600px;
        width: 100%;
        background-size: 130px;
    }

    .newsletter__title {
        font-size: 30px;
    }

    .newsletter__sub-title {
        font-size: 16px;

    }

    .newsletter__txt {
        font-size: 14px;
        width: 400px;

    }

    .newsletter__mail {
        padding: 20px 100px;

    }
}

@media only screen and (max-width: 625px) {
    .newsletter__wrapper {
        max-width: 400px;
        width: 100%;
        height: 500px;
        background-size: 100px;

    }


    .newsletter__mail {
        padding: 18px 80px;
        font-size: 12px;

    }

    .newsletter__title {
        font-size: 24px;
    }

    .newsletter__sub-title {
        font-size: 14px;

    }

    .newsletter__txt {
        font-size: 12px;
        width: 300px;

    }
}

@media only screen and (max-width: 447px) {
    .newsletter__wrapper {
        max-width: 300px;
        width: 100%;
        background-size: 80px;

    }


    .newsletter__mail {
        padding: 16px 60px;
        font-size: 10px;

    }

    .newsletter__title {
        font-size: 22px;
    }

    .newsletter__sub-title {
        font-size: 14px;

    }

    .newsletter__txt {
        font-size: 10px;
        width: 250px;

    }

}

/* || clients-section */

.clients-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.clients__icon {
    width: 300px;
    border: 1px solid rgb(175, 105, 0);
    padding: 10px;

}


@media only screen and (max-width:390px) {
    .clients__icon {
        width: 200px;
        
    
    }
}

/* || Footer */


.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(245, 235, 218);
    width: 100%;
    margin: 90px 0 0;
    padding: 90px 0;
    background-image: url("../Assets/icons/illustration.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.footer__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 24px;

}

.footer__logo {
    width: 250px;
}

.footer__txt {
    text-align: justify;
    width: 260px;
    color: rgb(158, 132, 92);
    font-size: 18px;
    font-weight: 400;

}


.footer__list-title {
    color: rgb(72, 40, 23);
    font-family: 'Libre Baskerville' sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;

}

.footer__list {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 20px;

}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.footer__item a {
    color: rgb(158, 132, 92);
    font-size: 16px;
    font-weight: 400;

}

.footer__icon {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__item-icon a {
    color: rgb(158, 132, 92);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;

}

@media only screen and (max-width: 774px) {
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .footer__list,
    .footer__nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}